h1 {
  color: blueviolet;
  background-color: bisque;
}
button {
  color: rgb(230, 93, 93);
  background-color: black;
}

/* using id to change the style*/
#heading {
  color: dodgerblue;
}

.class-element {
  color: seagreen;
  background-color: blue;
}

#qt {
  color: tomato;
  background-color: slategray;
}

.box {
  color: bisque;
  background-color: darkgoldenrod;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
}

.getAttribute {
  color: rgb(242, 135, 5);
  background-color: rgb(71, 68, 62);
  height: 100px;
  width: 100px;
  border: 1px solid rgb(223, 12, 12);
  margin: 5px;
  text-align: center;
}

.node {
  color: rgb(33, 5, 242);
  background-color: rgb(8, 237, 161);
  height: 50px;
  width: 100px;
  border: 1px solid rgb(223, 12, 12);
  margin: 5px;
  text-align: center;
}

.content {
  color: red;
}

.newClass {
  background-color: beige;
}