h1 {
  color: blueviolet;
  background-color: bisque;
}
button {
  color: rgb(230, 93, 93);
  background-color: black;
}

/* using id to change the style*/
#heading {
  color: dodgerblue;
}

.class-element {
  color: seagreen;
  background-color: blue;
}